*.pyc
*~
*.swp
graphical_models/group_repo
*.~m
*.aux
*.log
*.out
*.backup
graphical_models/cw1/images/
graphical_models/cw2/Assignment 2.rar
graphical_models/cw2/battleships.odt
graphical_models/cw2/drunkproblemXtrue.mat
graphical_models/cw2/report1.pdf
graphical_models/cw3/shared_repo_konst/

